{% load static %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/echarts/4.3.0/echarts.min.js'></script>
<script src='https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js'></script>
<link src='https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.3/css/bootstrap-grid.css' rel="stylesheet">
<style>
    #border-primary {
        width: 100vw;
        height: 100vh;
        float: left;
        /* border: 1px solid red; */
        margin: 0 auto;
    }

    #border-primary #bar_1 {
        float: left;
        width: 50vw;
        height: 100vh;
    }

    #border-primary #bar_2 {
        float: left;
        width: 50vw;
        height: 100vh;
    }

    #border-primary #bar_3 {
        float: left;
        width: 50vw;
        height: 100vh;
    }
    #border-primary #bar_4 {
        float: left;
        width: 50vw;
        height: 100vh;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #4a92ff;
    }

    li {
        float: right;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

</style>
<ul>
  <li><a href="../ra">主页</a></li>
  <li><a href="four">全国统计</a></li>
    <li><a href="one">地区/省份统计</a></li>
  <li><a href="third">占比与子类</a></li>
  <li><a href="five">价格分析</a></li>
    <li><a href="two">爆款产品</a></li>
<li><a href="three">发货时效</a></li>
    <li><a href="second">客户分布</a></li>
   <li><a href="rfm">客户分析</a></li>
</ul>
<div id="border-primary">
    <div id="bar_1" style="width:45vw;height:45vh"></div>
    <div id="bar_2" style="width:45vw;height:45vh"></div>
    <div id="bar_3" style="width:70vw;height:60vh"></div>
    <div id="bar_4" style="width:70vw;height:60vh"></div>
</div>
<script type="text/javascript">
    var myChart1 = echarts.init(document.getElementById("bar_1"));
        option={
            title: {
                text: '客户占比',
                left: 'center'
            },
            tooltip: {
                trigger: 'item', formatter: "{a}<br/>{b}:{c}({d}%)"
            },
            color:['#f6da22','#bbe2e8','#6cacde'],
            legend: {
                orient: 'vertical',
                data: ['公司', '小型企业', '消费者'],
                left: 'left'
            },
            series: [
                {
                    name: '客户占比',
                    type: 'pie',
                    radius: '50%',
                    label: {
                        position: 'inner',//饼图图上显示百分比
                    },
                    data: [
                        { "value": 3090, "name": "公司",  },
                        { "value": 3544, "name": "小型企业" },
                        { "value": 15291, "name": "消费者" },

                    ]
                }
            ]

        };
        myChart1.setOption(option);
</script>
<script type="text/javascript">
    var myChart2 = echarts.init(document.getElementById("bar_2"));
    option = {
        title: {
            text: '客户地区分布',
        },
        legend: {
            data: ['客户'],
            //left: 'center' 
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'shadow'
            }
        },
        xAxis: {
            type: 'category',
            data: ['西北', '西南', '华北', '东北', '中南', '华东']
        },
        yAxis: {
            type: 'value'
        },
        series: [
            {
                name: '客户',
                data: [120, 200, 150, 80, 70, 110],
                  itemStyle:{
    	                 normal:{
    	                   color:'#f5b031',
    	                   }
    	            },
                type: 'bar',
                showBackground: true,
                backgroundStyle: {
                    color: 'rgb(105,132,86)'
                }
            }

        ]
    };
    myChart2.setOption(option);
</script>
<script type="text/javascript">
    var myChart3 = echarts.init(document.getElementById("bar_3"));
    option1 = {
        title: {
            text: '客户省的分布',
        },
        tooltip: {
                    valueFormatter: function (value) {
                        return value + '人';
                    }
                },
        dataset: {
            source: [
                ['客户数', '省份'],
                [5, '西藏'],
                [10, '青海'],
                [17, '新疆'],
                [20, '宁夏'],
                [44, '海南'],
                [45, '贵州'],
                [67, '云南'],
                [71, '江西'],
                [77, '甘肃'],
                [97, '山西'],
                [99, '内蒙古'],
                [101, '广西'],
                [106, '重庆'],
                [107, '陕西'],
                [115, '北京'],
                [125, '福建'],
                [134, '上海'],
                [138, '天津'],
                [155, '安徽'],
                [158, '河北'],
                [161, '吉林'],
                [167, '四川'],
                [173, '浙江'],
                [189, '湖南'],
                [207, '河南'],
                [245, '江苏'],
                [246, '湖北'],
                [259, '黑龙江'],
                [276, '辽宁'],
                [334, '广东'],
                [348, '山东'],
            ]
        },
        grid: { containLabel: true },
        xAxis: { type: 'category' },
        yAxis: {},
        visualMap: {
            //orient: 'horizontal',
            left: 'right',
            top: '30%',
            min: 0,
            max: 350,
            calculable:true,
            //text: [350, 0],
            // Map the score column to color
            dimension: 0,
            inRange: {
                //symbolSize:[0,350],
                color: ['#65B581', '#FFCE34', '#FD665F']
            }
        },
        series: [
            {
                type: 'bar',
                encode: {
                    // Map the "amount" column to X axis.
                    x: '省份',
                    // Map the "product" column to Y axis
                    y: '客户数'
                }
            }
        ]
    };
    myChart3.setOption(option1);
</script>
<script type="text/javascript">
    var myChart4 = echarts.init(document.getElementById("bar_4"));
    option = {
        title: {
            text: '客户城市的分布',
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'cross',
                crossStyle: {
                    color: '#999'
                }
            }
        },
        toolbox: {
            feature: {
                dataView: { show: true, readOnly: false },
                magicType: { show: true, type: ['line', 'bar'] },
                restore: { show: true },
                saveAsImage: { show: true }
            }
        },
        legend: {
            data: ['客户数', '客单价']
        },
        visualMap: {
            //orient: 'horizontal',
            left: 'right',
            top: '30%',
            min: 0,
            max: 150,
            calculable:true,
            //text: [0, 150],
            // Map the score column to color
            //dimension: 0,
            inRange: {
                //symbolSize:[0,150],
                color: ['#65B581', '#330523', '#bd0c06']
            }
        },
        xAxis: [
            {
                type: 'category',
                data: ['上海', '重庆', '成都', '太原', '天津', '北京', '洛阳', '长沙', '西安', '苏州', '郑州', '昆明', '石家庄'],
                axisPointer: {
                    type: 'shadow'
                }
            }
        ],
        yAxis: [
            {
                type: 'value',
                name: '客户数',
                // min: 0,
                // max: 250,
                //interval: 50,
                axisLabel: {
                    formatter: '{value} 人'
                }
            },
            {
                type: 'value',
                name: '客单价',
                // min: 0,
                // max: 25,
                interval: 5,
                axisLabel: {
                    formatter: '{value} 元'
                }
            }
        ],
        series: [
            {
                name: '客户数',
                type: 'bar',
                tooltip: {
                    valueFormatter: function (value) {
                        return value + '人';
                    }
                },
                data: [
                    120, 134, 117, 105, 99, 85, 79, 60, 59, 40.0, 39, 36, 28
                ]
            },

            {
                name: '客单价',
                type: 'line',
                yAxisIndex: 1,
                tooltip: {
                    valueFormatter: function (value) {
                        return value + ' 元';
                    }
                },
                data: [100, 90, 95, 67, 70, 40, 99, 107, 100, 80, 87, 80, 125]
            }
        ]
    };
    myChart4.setOption(option);
</script>