{% load static %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.3.0/echarts.min.js"></script>
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<link src='https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.3/css/bootstrap-grid.css' rel="stylesheet">
<style>
    #border-primary {
        width: 100vw;
        height: 100vh;
        float: left;
        /* border: 1px solid red; */
        margin: 0 auto;
    }

    #border-primary #bar1 {
        float: left;
        width: 50vw;
        height: 100vh;
    }

    #border-primary #bar2 {
        float: left;
        width: 50vw;
        height: 100vh;
    }

    #border-primary #bar3 {
        float: left;
        width: 50vw;
        height: 100vh;
    }

    #border-primary #bar4 {
        float: left;
        width: 50vw;
        height: 100vh;
    }

    #border-primary #bar5 {
        float: left;
        width: 50vw;
        height: 100vh;
    }

    #border-primary #bar6 {
        float: left;
        width: 50vw;
        height: 100vh;
    }

    #border-primary #bar7 {
        float: left;
        width: 50vw;
        height: 100vh;
    }

    #border-primary #bar8 {
        float: left;
        width: 50vw;
        height: 100vh;
    }

    #border-primary #bar9 {
        float: left;
        width: 50vw;
        height: 100vh;
    }

    #border-primary #bar10 {
        float: left;
        width: 50vw;
        height: 100vh;
    }

    #border-primary #bar11 {
        float: left;
        width: 50vw;
        height: 100vh;
    }

    #border-primary #bar12 {
        float: left;
        width: 50vw;
        height: 100vh;
    }

    #border-primary #bar13 {
        float: left;
        width: 50vw;
        height: 100vh;
    }

    #border-primary #bar14 {
        float: left;
        width: 50vw;
        height: 100vh;
    }

    #border-primary #bar15 {
        float: left;
        width: 50vw;
        height: 100vh;
    }

    #border-primary #bar16 {
        float: left;
        width: 50vw;
        height: 100vh;
    }

    #border-primary #bar17 {
        float: left;
        width: 50vw;
        height: 100vh;
    }

    #border-primary #bar18 {
        float: left;
        width: 50vw;
        height: 100vh;
    }

    #border-primary #bar19 {
        float: left;
        width: 50vw;
        height: 100vh;
    }

    #border-primary #bar20 {
        float: left;
        width: 50vw;
        height: 100vh;
    }

    #border-primary #bar21 {
        float: left;
        width: 50vw;
        height: 100vh;
    }

    #border-primary #bar22 {
        float: left;
        width: 50vw;
        height: 100vh;
    }

    #border-primary #bar23 {
        float: left;
        width: 50vw;
        height: 100vh;
    }

    #border-primary #bar24 {
        float: left;
        width: 50vw;
        height: 100vh;
    }

    #border-primary #bar25 {
        float: left;
        width: 50vw;
        height: 100vh;
    }

    #border-primary #bar26 {
        float: left;
        width: 50vw;
        height: 100vh;
    }

    #border-primary #bar27 {
        float: left;
        width: 50vw;
        height: 100vh;
    }

    #border-primary #bar28 {
        float: left;
        width: 50vw;
        height: 100vh;
    }

    #border-primary #bar29 {
        float: left;
        width: 50vw;
        height: 100vh;
    }

    #border-primary #bar30 {
        float: left;
        width: 50vw;
        height: 100vh;
    }

    #border-primary #bar31 {
        float: left;
        width: 50vw;
        height: 100vh;
    }

    #border-primary #bar32 {
        float: left;
        width: 50vw;
        height: 100vh;
    }
</style>
<style>
    #border-primary #bar_1 {
        float: left;
        width: 50vw;
        height: 100vh;
    }

    #border-primary #bar_2 {
        float: left;
        width: 50vw;
        height: 100vh;
    }

    #border-primary #bar_3 {
        float: left;
        width: 50vw;
        height: 100vh;
    }

    #border-primary #bar_4 {
        float: left;
        width: 50vw;
        height: 100vh;
    }

    #border-primary #bar_5 {
        float: left;
        width: 50vw;
        height: 100vh;
    }


    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #4a92ff;
    }

    li {
        float: right;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
</style>

<ul>
  <li><a href="../ra">主页</a></li>
  <li><a href="four">全国统计</a></li>
    <li><a href="one">地区/省份统计</a></li>
  <li><a href="third">占比与子类</a></li>
  <li><a href="five">价格分析</a></li>
    <li><a href="two">爆款产品</a></li>
<li><a href="three">发货时效</a></li>
    <li><a href="second">客户分布</a></li>
   <li><a href="rfm">客户分析</a></li>
</ul>

<div id="border-primary">
    <div class="row" style="height: 10vh">
        <div id="bar1" style="width:10vw;height: 10vh;">年</div>
        <div id="bar2" style="width:10vw;height: 10vh;">销售额（万）</div>
        <div id="bar3" style="width:10vw;height: 10vh;">利润（万）</div>
        <div id="bar4" style="width:10vw;height: 10vh;">利润率</div>
        <div id="bar5" style="width:10vw;height: 10vh;">卖出商品数</div>
        <div id="bar6" style="width:10vw;height: 10vh;">订单数</div>
        <div id="bar7" style="width:10vw;height: 10vh;">平均折扣</div>
        <div id="bar8" style="width:10vw;height: 10vh;">客单价</div>
        <div id="bar" style="width:10vw;height: 10vh;"></div>
        <div id="bar" style="width:10vw;height: 10vh;"></div>
    </div>
    <div class="row" style="height: 10vh">
        <div id="bar9" style="width: 10vw;height: 10vh;">2016</div>
        <div id="bar10" style="width:10vw;height: 10vh;">343.19</div>
        <div id="bar11" style="width:10vw;height: 10vh;">47.15</div>
        <div id="bar12" style="width:10vw;height: 10vh;">15.93%</div>
        <div id="bar13" style="width:10vw;height: 10vh;">8012</div>
        <div id="bar14" style="width:10vw;height: 10vh;">1038</div>
        <div id="bar15" style="width:10vw;height: 10vh;">86.57%</div>
        <div id="bar16" style="width:10vw;height: 10vh;">3306.28</div>
        <div id="bar" style="width:10vw;height: 10vh;"></div>
        <div id="bar" style="width:10vw;height: 10vh;"></div>
    </div>
    <div class="row" style="height: 10vh">
        <div id="bar17" style="width: 10vw;height: 10vh;">2017</div>
        <div id="bar18" style="width:10vw;height: 10vh;">424.35</div>
        <div id="bar19" style="width:10vw;height: 10vh;">47.15</div>
        <div id="bar20" style="width:10vw;height: 10vh;">15.93%</div>
        <div id="bar21" style="width:10vw;height: 10vh;">8012</div>
        <div id="bar22" style="width:10vw;height: 10vh;">1038</div>
        <div id="bar23" style="width:10vw;height: 10vh;">86.57%</div>
        <div id="bar24" style="width:10vw;height: 10vh;">3306.28</div>
        <div id="bar" style="width:10vw;height: 10vh;"></div>
        <div id="bar" style="width:10vw;height: 10vh;"></div>
    </div>
    <div class="row" style="height: 10vh">
        <div id="bar25" style="width: 10vw;height: 10vh;">2018</div>
        <div id="bar26" style="width:10vw;height: 10vh;">546.24</div>
        <div id="bar27" style="width:10vw;height: 10vh;">68.11</div>
        <div id="bar28" style="width:10vw;height: 10vh;">14.25%</div>
        <div id="bar29" style="width:10vw;height: 10vh;">12911</div>
        <div id="bar30" style="width:10vw;height: 10vh;">1559</div>
        <div id="bar31" style="width:10vw;height: 10vh;">86.42%</div>
        <div id="bar32" style="width:10vw;height: 10vh;">3503.81</div>
        <div id="bar" style="width:10vw;height: 10vh;"></div>
        <div id="bar" style="width:10vw;height: 10vh;"></div>
    </div>
    <div id="bar_1" style="width:45vw;height:45vh"></div>
    <div id="bar_2" style="width:45vw;height:45vh"></div>
    <div id="bar_3" style="width:45vw;height:45vh"></div>
    <div id="bar_4" style="width:45vw;height:45vh"></div>
    <div id="bar_5" style="width:45vw;height:45vh"></div>
</div>
<script type="text/javascript">
    const myChart1 = echarts.init(document.getElementById("bar_1"));
    option = {
        title: {
            text: '年销售累计'
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'shadow'
            }
        },
        legend: {
            data: ['销售额', '数量', '利润']
        },
        toolbox: {
            show: true,
            left: 'right',
            top: 'center',
        },
        xAxis: [
            {
                type: 'category',
                data: ['2016', '2017', '2018']
            }
        ],

        yAxis: [
            {
                type: 'value',
                name: '销售额（万）',
                position: 'right',
                alignTicks: true,
                axisLine: {
                    show: true,
                },
            },
            {
                type: 'value',
                name: '数量',
                position: 'right',
                alignTicks: true,
                offset: 40,
                axisLine: {
                    show: true,
                },
            },
            {
                type: 'value',
                name: '利润（万）',
                position: 'left',
                alignTicks: true,
                axisLine: {
                    show: true,
                },
            },
        ],
        series: [
            {
                name: '销售额',
                type: 'bar',
                data: [343.19, 424.35, 546.24],
                  itemStyle:{
    	                 normal:{
    	                   color:'#4aff4d',
    	                   }
    	            },
            },
            {
                name: '数量',
                type: 'bar',
                yAxisIndex: 1,
                data: [8012, 9901, 12911]
            },
            {
                name: '利润',
                type: 'bar',
                yAxisIndex: 2,
                data: [47.15, 62.19, 68.11],
                  itemStyle:{
    	                 normal:{
    	                   color:'#864aff',
    	                   }
    	            },
            }
        ],
    }
    myChart1.setOption(option);
</script>
<script type="text/javascript">
    const myChart2 = echarts.init(document.getElementById("bar_2"));
    const xAxisData = ['2016', '2017', '2018'];
    const data = [
        [ // 第一组数据
            [10, 20, 30, 40, 50], // 最小值、下四分位数、中位数、上四分位数、最大值
            [15, 25, 35, 45, 55],
            [20, 30, 40, 50, 60]
        ],
        [ // 第二组数据
            [20, 30, 40, 50, 60],
            [25, 35, 45, 55, 65],
            [30, 40, 50, 60, 70]
        ],
        [ // 第三组数据
            [30, 40, 50, 60, 70],
            [35, 45, 55, 65, 75],
            [40, 50, 60, 70, 80]
        ]
    ];

    // 初始化echarts实例
    const myChart2 = echarts.init(document.getElementById('bar_2'));

    // 配置项
    let option = {
        tooltip: {text: '月销售-盒须图'}, // 提示框组件
        legend: { // 图例组件
            data: ['销售额', '数量', '利润']
        },
        xAxis: { // 横坐标
            data: xAxisData
        },
        yAxis: [
            {
                type: 'value',
                name: '销售额（万）',
                position: 'right',
                alignTicks: true,
                axisLine: {
                    show: true,
                },
            },
            {
                type: 'value',
                name: '数量',
                position: 'right',
                alignTicks: true,
                offset: 40,
                axisLine: {
                    show: true,
                },
            },
            {
                type: 'value',
                name: '利润（万）',
                position: 'left',
                alignTicks: true,
                axisLine: {
                    show: true,
                },
            },
        ],
        series: [ // 系列列表
            {
                name: '销售额',
                type: 'boxplot',
                data: data[0]
            },
            {
                name: '数量',
                type: 'boxplot',
                yAxisIndex: 1,
                data: data[1]
            },
            {
                name: '利润',
                type: 'w',
                yAxisIndex: 2,
                data: data[2]
            }
        ]
    };
    myChart2.setOption(option);
</script>
<script type="text/javascript">
    const myChart3 = echarts.init(document.getElementById("bar_3"));
    option = {
        title: {
            text: '2016年 月销售',
            x: 'left'
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: ['销售额', '数量', '利润']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },

        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: ['1月', '2月', '3月', '4月', '5月', '6月', '7月']
        },
        yAxis: [
            {
                type: 'value',
                name: '销售额（万）',
                position: 'right',
                alignTicks: true,
                axisLine: {
                    show: true,
                },
            },
            {
                type: 'value',
                name: '数量',
                position: 'right',
                alignTicks: true,
                offset: 40,
                axisLine: {
                    show: true,
                },
            },
            {
                type: 'value',
                name: '利润（万）',
                position: 'left',
                alignTicks: true,
                axisLine: {
                    show: true,
                },
            },
        ],
        series: [
            {
                name: '销售额',
                type: 'line',
                //stack: 'Total',
                data: [120, 132, 101, 134, 90, 230, 210, 344, 233, 333, 222, 123],
                smooth: true
            },
            {
                name: '数量',
                type: 'line',
                //stack: 'Total',
                yAxisIndex: 1,
                data: [220, 182, 191, 234, 290, 330, 310, 344, 222, 232, 352, 321],
                smooth: true
            },
            {
                name: '利润',
                type: 'line',
                //stack: 'Total',
                yAxisIndex: 2,
                data: [150, 232, 201, 154, 190, 330, 410, 433, 222, 333, 233, 236],
                smooth: true
            },

        ]
    }
    myChart3.setOption(option);
</script>
<script type="text/javascript">
    const myChart4 = echarts.init(document.getElementById("bar_4"));
    option = {
        title: {
            text: '2017年 月销售',
            x: 'left'
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: ['销售额', '数量', '利润']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: ['1月', '2月', '3月', '4月', '5月', '6月', '7月']
        },
        yAxis: [
            {
                type: 'value',
                name: '销售额（万）',
                position: 'right',
                alignTicks: true,
                axisLine: {
                    show: true,
                },
            },
            {
                type: 'value',
                name: '数量',
                position: 'right',
                alignTicks: true,
                offset: 40,
                axisLine: {
                    show: true,
                },
            },
            {
                type: 'value',
                name: '利润（万）',
                position: 'left',
                alignTicks: true,
                axisLine: {
                    show: true,
                },
            },
        ],
        series: [
            {
                name: '销售额',
                type: 'line',
                //stack: 'Total',
                data: [120, 132, 101, 134, 90, 230, 210, 344, 233, 333, 222, 123],
                smooth: true
            },
            {
                name: '数量',
                type: 'line',
                //stack: 'Total',
                yAxisIndex: 1,
                data: [220, 182, 191, 234, 290, 330, 310, 344, 222, 232, 352, 321],
                smooth: true
            },
            {
                name: '利润',
                type: 'line',
                //stack: 'Total',
                yAxisIndex: 2,
                data: [150, 232, 201, 154, 190, 330, 410, 433, 222, 333, 233, 236],
                smooth: true
            },

        ]
    }
    myChart4.setOption(option);
</script>
<script type="text/javascript">
    const myChart5 = echarts.init(document.getElementById("bar_5"));
    //myChart.showLoading();
    option = {
        title: {
            text: '2017年 月销售',
            x: 'left'
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: ['销售额', '数量', '利润']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: ['1月', '2月', '3月', '4月', '5月', '6月', '7月']
        },
        yAxis: [
            {
                type: 'value',
                name: '销售额（万）',
                position: 'right',
                alignTicks: true,
                axisLine: {
                    show: true,
                },
            },
            {
                type: 'value',
                name: '数量',
                position: 'right',
                alignTicks: true,
                offset: 40,
                axisLine: {
                    show: true,
                },
            },
            {
                type: 'value',
                name: '利润（万）',
                position: 'left',
                alignTicks: true,
                axisLine: {
                    show: true,
                },
            },
        ],
        series: [
            {
                name: '销售额',
                type: 'line',
                //stack: 'Total',
                data: [120, 132, 101, 134, 90, 230, 210, 344, 233, 333, 222, 123],
                smooth: true
            },
            {
                name: '数量',
                type: 'line',
                //stack: 'Total',
                yAxisIndex: 1,
                data: [220, 182, 191, 234, 290, 330, 310, 344, 222, 232, 352, 321],
                smooth: true
            },
            {
                name: '利润',
                type: 'line',
                //stack: 'Total',
                yAxisIndex: 2,
                data: [150, 232, 201, 154, 190, 330, 410, 433, 222, 333, 233, 236],
                smooth: true
            },
        ]
    }
    myChart5.setOption(option);
</script>